.parent-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.create-new-game {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;
}
