/* login */
.login-container {
  margin-top: 50px;
}

.login-form {
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.error-message {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 20px;
}

/* header.component */
.header-container {
  background-color: #343a40;
  padding: 20px;
  color: #ffffff;
  text-align: center;
}

.header-title {
  font-size: 2.5rem;
  font-weight: bold;
}

/* gameslist.component */
.games-list-actions {
  display: flex;
  align-items: center;
  gap: 8px;
}

.games-list-actions .star-icon {
  font-size: 24px;
}

/* popupalert.component */
.popup-alert {
  max-width: 300px;
  margin: 0 auto;
}

.popup-alert-content {
  margin: 0;
  padding: 0.5rem;
}

/* gamepage */
.parent-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.create-new-game {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;
}
